.events {
    padding-top: 3vh;
    width: 100vw;
    height: 72vh;
    display: flex;
    flex-direction: row;
    gap: 3vh;
    overflow: auto;
}

.event-card {
    width: 280px;
    height: fit-content;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    background-color: #FFA53C;
    color: #004D40;
    border-radius: 10px;
}
.events p {
    margin-top: 5px;
    width: 100%;
}
.events h4 {
    font-weight: 300;
    margin: 0;
    margin-left: 2vw;
    font-size: 12px;
}
.events h3 {
    font-weight: 900;
    font-size: 14px;
    margin: 0;
    margin-left: 2vw;
    margin-bottom: 20px;
}
.event-class-top {
    border-bottom: 1px solid #004D40;
    width: 96%;
    margin-left: 2%;
    padding-bottom: 15px;
    margin-bottom: 25px;
    min-height: 160px;
}

.date {
background-color: #004D40;
color: #FFA53C;
height: 40px;
width: 96%;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
margin-bottom: 10px;
margin-top: 20px;
margin-left: 2%;
}
.event-name {
    margin-top: 8px;
    margin-bottom: 0;
}
.joined-event {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 2vw;
    margin-top: -45px;
}
.joined-event h6 {
    color: #004D40;
    margin: 10px;
    margin-left: 2vw;
    margin-top: 35px;
}
.event-participants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60px;
}
.event-participants h3{
    margin: 0;
}

.more-margin{
    margin-top: 0px;
}
.date h6 {
    font-weight: 400;
    margin: 0;
    margin-top: 5px;
    margin-left: 2vw;
}
.date p {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    margin-left: 2vw;
}

