.events {
    padding-top: 3vh;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    overflow: auto;
}

.event-card {
    width: 90vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5vw;
    border: 1px solid black;
}

.date {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    line-height: 100%;
    margin-left: 3vw;
    margin-top: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-weight: 1000;
    background: black;
    background: radial-gradient(circle at 100px 100px, #000, #FFA53C)
}

.date p {
    font-size: 10px;
    
}

.event-name {
    margin-left: 2vw;
}

.event-card ul {
    list-style: none;
    margin-left: -13vw;
    font-size: 12px;
}

.joined-event {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 2vw;
    margin-top: -8vw;

}

.join-event-button {
    border-radius: 10px;
    width: 17vw;
    height: 6vh;
    color: #FFA53C;
    background-color: #004D40;
    margin-bottom: 2vw;
    margin-left: 2vw
}

.joined-event h6 {
    color: #FFA53C;
    margin-left: 2vw;
}

.joined-event-button {
    border-radius: 10px;
    width: 17vw;
    height: 6vh;
    color: rgb(220, 98, 120);
    background-color: #004D40;
    margin-bottom: 2vw
}