.events {
    padding-top: 3vh;
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    overflow: auto;
}
.event-card {
    width: 90vw;
    height: 50vh;
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5vw;
    border: 1px solid black;
}

.date {
    width: 17vw;
    height: 17vw;
    border-radius: 50%;  
    line-height: 100%;
    margin-left: 3vw;
    margin-top: 3vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #004D40;
    background: black;
    background: radial-gradient(circle at 100px 100px, #000, #FFA53C)
}
.event-name {
    
    margin-left: 2vw;
    margin-bottom: none;
}
.joined-event {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 2vw;
   margin-top: -8vw;

}
.join-event-button {
    border-radius: 10px;
    width: 17vw;
    height: 6vh;
    color: #FFA53C;
    background-color: #004D40;
    margin-bottom: 2vw;
    margin-left: 2vw
}
.joined-event-button {
    border-radius: 10px;
    width: 17vw;
    height: 6vh;
    color: #FFA53C;
    background-color: #004D40;
    margin-bottom: 2vw
}
