.location-info {
    padding-top: 3vh;
    width: 90vw;
    padding-left: 4vw;
    
}
.locationinfo-image{
    width: 90vw;
    border-radius: 2vw;
    box-shadow: 8px 8px 0px 0px #002E25
}
.horario {
    display: flex;
    flex-direction: column;
    justify-content: start;
    line-height: 1px;
    height: 60px;
}
.list {
    width: 60vw;
}
.cancel {
    width: 120px;
    height: 40px;
    color: #FFA53C;
    background-color: #004D40;
    box-shadow: 8px 8px 0px 0px #002E25
}
.reserve{
    width: 120px;
    height: 40px;
    color: #004D40;
    background-color: #FFA53C;
    box-shadow: 8px 8px 0px 0px #002E25
}
.li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.go-back-button {
   margin-top: 10px;
   margin-bottom: 10px;
    margin-left:50%;
    translate: -50%;
    align-items: center;
    width: 120px;
    height: 40px;
    color: #FFA53C;
    background-color: #004D40;
    border: 1px solid #FFA53C;
    box-shadow: 8px 8px 0px 0px #002E25
}
.blue-color {
    color: rgba(200, 232,226,1);
}
.location-info h6 {
    font-weight: 300;
    margin: 0;
}
.location-info h4 {
    font-weight: 300;
    margin: 0;
}
.location-info h3 {
    font-weight: 300;
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
}
.location-info p {
    margin-bottom: 30px;
    font-weight: 300;
}
.location-info h1 {
    margin: 0;
    margin-top: 20px;
    font-size: 32px;
}
.locations-rackets {
    display: flex;
    flex-direction: column;
}
.locations-extra {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.timetable {
    padding-top: 25px;
    border-top: 1px solid rgba(200, 232, 226, 0.3);
}
.timetable-left {
    margin: 20px 0;
    padding-top: 5px;
}