.matches-create {
    display: flex;
    width: 90%;
    padding: 0px 16px;
    flex-direction: column;
    margin-top: 5%;
    gap: 20px;
    overflow: auto;
    height: 78vh;

}

.matches-create label {
color: rgba(255, 255, 255, 1);
}

.matches-create input {
    background-color: rgba(200, 232, 226, 1);
    height: 30px
}
.matches-create select {
    background-color: rgba(200, 232, 226, 1);
    height: 30px
}

.create-match-title {
    display: flex;
    justify-content: center;

}
.go-back-button1 {
    margin-top: 10px;
    margin-bottom: 10px;
     width: 120px;
     height: 40px;
     color: #FFA53C;
     background-color: #004D40;
     border: 1px solid #FFA53C;
     box-shadow: 8px 8px 0px 0px #002E25
 }