.matches-create {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 75vh;
}

.matches-create label {
color: #FFA53C;
}

.matches-create input {
    background-color: #FFA53C;
}
.matches-create select {
    background-color: #FFA53C;
}

.matches-create button {
    border-radius: 10px;
    width: 17vw;
    height: 6vh;
    color: #FFA53C;
    background-color: #004D40;
    font-size: 12px;
    margin-top: 3vw;
    margin-bottom: 2vw;
}