.navbar {
    width: 96vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: rgb(220, 98, 120);
    padding-left: 2vw;
    padding-right: 2vw;
}

.navlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
.navlinks h4 {
    color: #004D40 ;
}

.menu-links {
    background-color: rgb(194, 186, 80);
    position: absolute;
    width: 100vw;
    height: 25vh;
    top: 10vh;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu-links h1 {
    margin-left: 10vw;
    font-size: 20px;
}

.hidden {
    display: none;
}

.profile1-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;

}