.profile {
    height: 75vh;
    overflow: auto;
    padding-bottom: 20px;
}

.my-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.my-profile h2 {
    font-size: 32px;
    font-weight: 300;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 3px;
}
.my-profile h4 {
    font-weight: 300;
    margin: 0;
}
.my-profile h3 {
    font-weight: 300;
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
}
.rank {
    color: #004D40;
    background-color: #FFA53C;
    width: 60px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.profile-image {
    width: 23vw;
    height: 23vw;
    border-radius: 50%;
    margin-top: 5vw;
}

.editor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    color:rgba(255, 255, 255, 1);
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 5vh;
}
.editor input {
    background-color: rgba(200, 232, 226, 1);
    height: 30px
}
.editor select {
    background-color: rgba(200, 232, 226, 1);
    height: 30px
}
.edit-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.edit-phone {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.edit-location {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.edit-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.edit-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.save-cancel-buttons {
    display: flex;
    gap: 10vw;
    margin-bottom: 5%;
}
.edit-profile-title {
    display: flex;
    justify-content: center;
}
.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}