.profile {
    height: 75vh;
    
}

.my-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.my-profile h1 {
    color: #FFA53C;
}

.left-profile {
    width: 40vw;
    margin-left: 5vw;
    text-align: start;
}

.profile-image {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    margin-top: 5vw;
    margin-left: 5vw;
}
.right-profile {
    width: 48vw;
}
.editor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color:#FFA53C
}

.edit-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.edit-phone {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.edit-location {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.edit-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.edit-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.editor button {
    margin-top: 3vw;
    border-radius: 10px;
    width: 17vw;
    height: 6vh;
    color: #FFA53C;
    background-color: #004D40
}