.signup-form {
    background-color:#004D40; 
    width: 90vw;
    margin-left: 5vw;
    padding-top: 1vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.sign-page {
    height: 72vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    padding-top: 20vh;
}
.sign-page form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sign-page input:nth-child() {
height: 30px;

}
.sign-page button {
    margin-top: 20px;
}
.center-sign-up-button {
    display: flex;
    justify-content: center;
    align-items: center;

}
.sign-up-title {
    display: flex;
    justify-content: center;
    margin-top: 10vw
}