.users {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    height: 71vh;
    overflow: auto;
}

.user-card1{
width: 20vw;
}
.foto {
    width: 45px;
}
.user-card {
    width: 90vw;
    height: 8vh;
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
}
.user-card p {
    width: 20vw;
    font-size: 15px;
}
.user-card h5 {
    width: 10vw;
}

.usersPage-image{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}