body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #004D40;
    background-size: 100% 100%;
    color: white;
    font-family: DM Sans
    ;
}
a {
    text-decoration: none;
    color: white;
}
.homepage {
    width: 90vw;
    margin-left: 5vw;
}
.first-homepage{
    margin-top: 2vh;
    width: 90vw;
    border-bottom: 1px solid white;
}
.second-homepage{
    margin-top: 2vh;
    width: 90vw;
    border-bottom: 1px solid white;
}
.homepage h5 {
    color: #FFA53C;
    text-decoration: underline;
}
.end-info{
    width: 90vw;
}